.chat_main
  .chat_main__header
    .chat_main__header__group
      .chat_main__header__group__left-box
        .chat_main__header__group__left-box__group-name
          = @group.name
        %ul.chat_main__header__group__left-box__member-list
          Member :
          %i.chat_main__header__group__left-box__member-list__name
            - @group.group_users.each do |group_user|
              = group_user.user.name
      .chat_main__header__group__edit
        = link_to "Edit", edit_group_path(@group)
  .chat_main__contents
    
    = render @messages

  .chat_main__footer
    .chat_main__footer__form
      = form_for [@group, @message] do |f|
        .chat_main__footer__form__text        
          = f.text_field :content, class: 'chat_main__footer__form__text__message', placeholder: 'type a message'
          = f.label :image, class: 'chat_main__footer__form__text__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'chat_main__footer__form__text__image__file'
          = f.submit 'Send', class: 'chat_main__footer__form__text__send'
